*{
  margin:0%;
  padding:0%;
  box-sizing:border-box;
}

body{
  font-family: "Outfit", sans-serif;
  background: linear-gradient(135deg, #203a43, #2c5364);
  color: #ffffff;
  height: 100vh;
  overflow: hidden;
  

}


.hero{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 8%;
  min-height: 100vh;
  position: relative;
}

.content{
  max-width: 600px;
  z-index: 2;
}
.content h1{
  font-size: 3.5rem;
 line-height: 1.2;
}
.content p{
  font-size: 1.2rem;
 
  color:#ddd;
  margin: 1.5rem 0 2rem;
}
.content span{
  color: #00ffff;
  font-weight: bold;
}
.btn{
  display: inline-block;
  padding: 0.75rem 2rem;
  background-color: #00ffff;
  color: #000;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 600;
  transition: background-color 0.3s ease;
}
.btn:hover{
  background-color: #00b3b3;
}
.image-container{
 max-width: 600px;
 animation: slideIn 1.5s ease-out forwards;
 opacity: 0;
}

.image-container img{
  width: 100%;
  
  border-radius: 10px;
  box-shadow: 0 20px 40px rgba(0,255,255,0);
}

/* Animation */
@keyframes fadein{
  0%{
    opacity: 0;
    transform: translateY(20px);
  }100%{
    opacity: 1;
    transform: translateY(0);
  }
}


@keyframes slideIn{
  0%{
    opacity: 0;
    transform: translateX(100px);
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }

}

.fade-in{
  opacity: 0;
  animation: fadein 1.5s forwards;
}

.delay-1{
  animation-delay: 0.5s;
}

.delay-2{
  animation-delay: 1s;
}


/* =================== */
.form-container{

  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.form-container h1{

  font-size: 2.5rem;
  margin-bottom: 20px;
 
}
.form-group input[type='text']{
  width: 200px;
  height: 50px;
  padding: 20px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  color: #0f2027;
  font-size: 1rem;
}
.form-container button{
  width: 100px;
  height: 50px;
  margin-left: 10px;
  background-color: #0f2027;
  color: #ddd;

  border-radius: 10px 0px 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-container button:hover{
 
  background-color: #ddd;
  color: #0f2027;
}